<a href="#jobs" class="back">
	<i class="icon-arrow-left bold"></i>
	{{local 'jobs.details.back'}}
</a>

<aside class="actions">
	<a class="edit btn positive center" href="#jobs/{{job.id}}/edit">
		<i class="icon-pen"></i>
		{{local 'action.edit'}}
	</a>

	<div class="deleteContainer btnBar">
		<a class="delete btn">
			<i class="icon-cross"></i>
			{{local 'action.delete'}}
		</a>
		<a class="deleteConfirm btn">
			<i class="icon-checkmark"></i>
			{{local 'action.confirm'}}
		</a>
		<a class="deleteCancel btn">
			<i class="icon-cross"></i>
			{{local 'action.cancel'}}
		</a>
	</div>
</aside>

{{#with job}}
	<h1 class="name">{{name}}</h1>
	<h2 class="description">{{description}}</h2>
{{/with}}

{{#if source}}
	<label>{{local 'jobs.details.source.label'}}:</label>
	<span class="source">
		<a href="#links/{{source.id}}">
			{{source.provider.name}} ({{source.identifier}})
		</a>
	</span>
	<br>
{{/if}}

{{#if target}}
	<label>{{local 'jobs.details.target.label'}}:</label>
	<span class="target">
		<a href="#links/{{target.id}}">
			{{target.provider.name}} ({{target.identifier}})
		</a>
	</span>
{{/if}}