<a href="#jobs">
	<i class="icon-arrow-left bold"></i>
	{{local 'jobs.edit.back'}}
</a>

<form class="gridForm">
	<li class="selection">
		<div class="source">
			<div>
				<h1>
					{{local 'jobs.edit.source.headline'}}
				</h1>

				<a class="select" data-popup-selector=".popup">
					{{#if currentSource}}
						{{#with currentSource}}
							<span class="providerName">{{providerName}}</span>
							(<span>{{identifier}}</span>)
						{{/with}}
					{{else}}
						<span class="noneSelected">{{local 'common.noneselected'}}</span>
					{{/if}}
				</a>


				<div class="popup"
				     data-popup-orientation="right"
				     data-popup-align="top">

					<ul class="links">
						{{#each links}}
							<li data-link-id="{{id}}">
								<strong>{{providerName}}</strong>

								(<span>{{identifier}}</span>)
							</li>
						{{/each}}
					</ul>
				</div>
			</div>
		</div>

		<div class="target">

			<div>
				<h1>
					{{local 'jobs.edit.target.headline'}}
				</h1>

				<a class="select" data-popup-selector=".popup">
					{{#if currentTarget}}
						{{#with currentTarget}}
							<span class="providerName">{{providerName}}</span>
							(<span>{{identifier}}</span>)
						{{/with}}
					{{else}}
						<span class="noneSelected">{{local 'common.noneselected'}}</span>
					{{/if}}
				</a>


				<div class="popup"
				     data-popup-orientation="right"
				     data-popup-align="top">

					<ul class="links">
						{{#each links}}
							<li data-link-id="{{id}}">
								<strong>{{providerName}}</strong>

								(<span>{{identifier}}</span>)
							</li>
						{{/each}}
					</ul>
				</div>
			</div>
		</div>
	</li>

	<li class="info">
		<div>
			<h1>
				{{local 'jobs.edit.info.headline'}}
			</h1>

			<div class="form">
				<div>
					<label>{{local 'term.title'}}</label>

					<div class="input">
						<input type="text"
						       class="name"
						       value="{{job.name}}"
						       data-validate="{{validate required=true}}">
					</div>
				</div>
				<div>
					<label>{{local 'term.description'}}</label>

					<div class="input">
						<input type="text"
						       class="description"
						       value="{{job.description}}">
					</div>
				</div>
			</div>
		</div>
	</li>

	<a class="submit btn positive center">{{local 'action.save'}}</a>
</form>