<nav>
	<div>
		<a href="#jobs" class="jobs">
			<i class="icon-checklist"></i>

			<h1>{{local 'term.jobs'}}</h1>

			<h3>{{local 'navigation.jobs.description'}}</h3>
		</a>
		<a href="#links" class="links">
			<i class="icon-link"></i>

			<h1>{{local 'term.links'}}</h1>

			<h3>{{local 'navigation.links.description'}}</h3>
		</a>
		<a href="#settings" class="settings">
			<i class="icon-cog"></i>

			<h1>{{local 'term.settings'}}</h1>

			<h3>{{local 'navigation.settings.description'}}</h3>
		</a>
	</div>
</nav>

<div class="main">

</div>

<footer id="footer">
	<a class="impressum">Impressum</a> |
	<a class="organization" href="https://github.com/devecho" target="devechoHomepage">devecho</a>
    <span class="design">Design by
        <a href="https://github.com/leoselig" target="leoseligHomepage">leoselig</a>
    </span>
</footer>